/* App.css */

.App {
  text-align: center;
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto; /* Center the form on the page */
}



label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Apply styles for smaller screens */
@media (max-width: 600px) {
  input,
  textarea,
  select {
    margin-bottom: 15px; /* Increase spacing for smaller screens */
  }
}
